.statistics {
  margin-top: 50px;
  outline: 1px solid grey;
  width: 500px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.statList {
  display: flex;
}

.item {
  display: grid;
  flex-basis: 20%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.label {
  margin-bottom: 10px;
}

.percentage {
  font-size: 24px;
  font-weight: 600;
}
